/*  */
/* общие стили для странички 4 */
.p4 {
    background-color:#21201E;
    color: white;
    height: auto;
    padding:100px 40px 50px 40px;
}

/* стили для нумерованного списка */
.p4 ol {
    padding-left:45px;
    counter-reset: cont1;
}
/* стили для элементов списка */
.p4 li {
    padding:10px;
    font-size:15px;
    border-bottom: 1px solid #CECECE;
    position:relative;
    list-style: none; /* Убираем исходные маркеры */
}
.p4 li::before {
    content: counter(cont1);
    counter-increment: cont1;
    font-size: 50px;
    color: #CBA782;
    position:absolute;
    top:10;
    left:0;
    transform: translateX(-50px);
}
/* стили для маркеров списка */
.p4 li::marker{
    font-size: 50px;
    color: #CBA782;
    position:absolute;
    display:block;
    bottom:0;
    border: 1px solid white;
    /*display:absolute; попытка реализвоать код из https://ru.stackoverflow.com/
    top: calc(50%); */
    /*display: flex; попытка реализовать подсказку из чата
    align-items: center; */
}
/* стили для последнего элемента списка */
.p4 li:last-child {
    margin-bottom:50px;
}

/* стили для первого элемента списка */
.p4 li:first-child {
    padding-top:40px;
}

/* стиль для класса list_title */
.list_title {
    padding-bottom:10px;
}

/* стили для класса list_content */
.list_content {
    display:inline-block;
    color:#CECECE;
    padding:10px 400px 15px 0px;
}



/* попытка выровнять маркер списка - но не сработало
ol.p4_list li {
    bottom:0;
} */
