.page6 {
    background-color:#21201E;
    width:100%;
    height:1660px;
    color:white;
    background-image:url('../img/page6.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

}