<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'catalog/css/10th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p10">
    <a name="Гарантии"></a>
    <h1>И ещё немного про гарантии</h1>
    <div class="p10_blocks">
        {% for i in page10 %}
            <div class="p10_block">
                <img src="{% static i.p10_img %}">
                <h3>{{i.p10_title}}</h3>
                <p>{{i.p10_content}}</p>
            </div>
        {% endfor %}

<!--        Ниже вариант версти той же страницы (один в один) но без обращения к базе данных, на на чистом html-->

<!--        <div class="p10_block">-->
<!--            <img src="{% static 'catalog/img/garantii1.png' %}">-->
<!--            <h3>Гарантия на срок</h3>-->
<!--            <p>сроки выполнения работ остаются неизменными</p>-->
<!--        </div>-->
<!--        <div class="p10_block">-->
<!--            <img src="{% static 'catalog/img/garantii2.png' %}">-->
<!--            <h3>Гарантия на материалы</h3>-->
<!--            <p>если материала вдруг станет больше, чем нужно - сдаем и возвращаем вам деньги назад</p>-->
<!--        </div>-->
<!--        <div class="p10_block">-->
<!--            <img src="{% static 'catalog/img/garantii3.png' %}">-->
<!--            <h3>Гарантия на смету</h3>-->
<!--            <p>детальное изучение объектов ремонта и проработка проектов помогает составить смету с точностью 97%</p>-->
<!--        </div>-->
<!--        <div class="p10_block">-->
<!--            <img src="{% static 'catalog/img/garantii4.png' %}">-->
<!--            <h3> Гарантия на непредвиденные ситуации</h3>-->
<!--            <p>180 дней гарантии на “любой чих”</p>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>