<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'catalog/css/11th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p11">
    <div class="p11_left">
        <h2>Давайте так, если вы планируете начать ремонт в течении 3х месяцев и раньше, при этом хотите
            сделать все по высшему разряду, точно не хотите попасться на недобросовестных подрядчиков, не
            хотите потерять кучу времени, нервов и денег.
        </h2>
        <h1>
            <a href="form/"> А хотите... → </a>
        </h1>
    </div>
    <div class="p11_right">
        <ul>
            <li>
                Лучшее проектное решение по вашей квартире
            </li>
            <li>
                Спокойствие и гарантию
            </li>
            <li>
                Идеальный результат ремонта и в срок
            </li>
        </ul>
        <p>
            То… приглашаю вас на онлайн экскурсию, где наш главный инженер покажем вам наглядно
            весь процесс
        </p>
        <img src="{% static 'catalog/img/p11_img.png' %}">
        <div class="button4">
        <a  href="form/">
        Записаться на экскурсию
        </a>
    </div>
    </div>
</div>
</body>
</html>