<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'catalog/css/7th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p7">
    <img src="{% static 'catalog/img/p7_mobile.jpg' %}">
    <div class="p7_1" id="p7_left">
        <h1>
            Контроль через <span style="color:#CBA782" > мобильное приложение </span> позволяет видеть полную прозрачность процесса
        </h1>
        <ul>
            <li><span class="p7_list_title"> Круглосуточный мониторинг процесса работ. </span>
                <br>
                <span class="p7_list_content"> Особенно актуально для тех, кто находится удаленно.</span>
            </li>
            <li><span class="p7_list_title"> Сверка соответствия заявленного выполнения с фактическим.</span>
            </li>
            <li><span class="p7_list_title"> Обеспечение безопасности.  </span>
                <br>
                <span class="p7_list_content"> Бытуют случаи взломов на объектах ремонта, а видеонаблюдение помогает найти злоумышленников.</span>
            </li>
            <li><span class="p7_list_title"> Финансовая прозрачность.  </span>
                <br>
                <span class="p7_list_content"> Договор, план-график оплат, акты, счета, возможность оплатить прямо из кабинета.</span>
            </li>
        </ul>

    </div>
    <div class="p7_1" id="p7_right">
    </div>
</div>
</body>
</html>