<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'catalog/css/9th_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="p9">
    <h1>ОБЪЕКТЫ ЗА НАШИМИ ПЛЕЧАМИ</h1>
    <br>
    <br>
    <br>
    <br>
    {% for i in page9 %}
        <div class="p9_blocks" >
            <a href="{% url 'object' i.p9_title %}"><h3>{{i.p9_title}}</h3></a>
            <a href="{% url 'object' i.p9_title %} "><img src="{% static i.p9_1 %}"></a>
            <a href="{% url 'object' i.p9_title %}"><img src="{% static i.p9_2 %}"></a>
            <img src="{% static i.p9_3 %}">
            <img src="{% static i.p9_4 %}">
            <a href="{% url 'object' i.p9_title %}"><p>еще...</p></a>

    {#<!--            {% for n in len(i)-1 %}-->#}
 {#<!--                <img src="{% static i.p9_n %}">-->#}
 {#<!--            {% endfor %}-->#}
        </div>
    {% endfor %}

</div>
</body>
</html>