{% extends "html/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'catalog/css/first_page_style.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}
{% include "catalog/first_page.html" %}
{% include "catalog/second_page.html" %}
{% include "catalog/therd_page.html" %}
{% include "catalog/4th_page.html" %}
{% include "catalog/5th_page.html" %}
{% include "catalog/6th_page.html" %}


<h1>Здравствуй мой друг!</h1>
<p>ты зашел на страницу премиального ремонта</p>
<!--<div class="part1">-->
<!--    <h2>Hi</h2>-->
<!--    <p> {{page1.title}} </p>-->
<!--    <p> {{page1.text}} </p>-->
<!--    <p> {{page1.preimushestva}} </p>-->
<!--    <img src="{% static page1.img %}" alt="Тут должна быть фотка ремонта">-->

<!--    <p>Премиальный ремонт в Минске “ключ в ключ”</p>-->
<!--    <h2>Всего 2 месяца от голых стен до комфортного проживания в квартире</h2>-->
<!--    <ul>-->
<!--        <li>С гарантией стоимости работ</li>-->
<!--        <li>С соблюдением всех сроков</li>-->
<!--        <li>C 110% юридической ответственностью по договору</li>-->
<!--    </ul>-->
<!--    <img src="{% static 'catalog/img/sovremennyj-interier.jpg' %}" alt="Тут должна быть фотка ремонта">-->

<!--</div>-->

<p>
    Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице словно абсолютно позиционированного элемента и нет. Положение элемента задается свойствами left, top, right и bottom, также на положение влияет значение свойства position родительского элемента. Так, если у родителя значение position установлено как static или родителя нет, то отсчет координат ведется от края окна браузера. Если у родителя значение position задано как fixed, relative или absolute, то отсчет координат ведется от края родительского элемента.
</p>
<br>
<p>
    Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице словно абсолютно позиционированного элемента и нет. Положение элемента задается свойствами left, top, right и bottom, также на положение влияет значение свойства position родительского элемента. Так, если у родителя значение position установлено как static или родителя нет, то отсчет координат ведется от края окна браузера. Если у родителя значение position задано как fixed, relative или absolute, то отсчет координат ведется от края родительского элемента.
</p>
<br>
<p>
    Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице словно абсолютно позиционированного элемента и нет. Положение элемента задается свойствами left, top, right и bottom, также на положение влияет значение свойства position родительского элемента. Так, если у родителя значение position установлено как static или родителя нет, то отсчет координат ведется от края окна браузера. Если у родителя значение position задано как fixed, relative или absolute, то отсчет координат ведется от края родительского элемента.
</p>
<br>
<p>
    Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице словно абсолютно позиционированного элемента и нет. Положение элемента задается свойствами left, top, right и bottom, также на положение влияет значение свойства position родительского элемента. Так, если у родителя значение position установлено как static или родителя нет, то отсчет координат ведется от края окна браузера. Если у родителя значение position задано как fixed, relative или absolute, то отсчет координат ведется от края родительского элемента.
</p>
<br>
<p>
    Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице словно абсолютно позиционированного элемента и нет. Положение элемента задается свойствами left, top, right и bottom, также на положение влияет значение свойства position родительского элемента. Так, если у родителя значение position установлено как static или родителя нет, то отсчет координат ведется от края окна браузера. Если у родителя значение position задано как fixed, relative или absolute, то отсчет координат ведется от края родительского элемента.
</p>
<br>
<p>
    Указывает, что элемент абсолютно позиционирован, при этом другие элементы отображаются на веб-странице словно абсолютно позиционированного элемента и нет. Положение элемента задается свойствами left, top, right и bottom, также на положение влияет значение свойства position родительского элемента. Так, если у родителя значение position установлено как static или родителя нет, то отсчет координат ведется от края окна браузера. Если у родителя значение position задано как fixed, relative или absolute, то отсчет координат ведется от края родительского элемента.
</p>
<br>

<ol class="exemple_ol">
    <li>первая строка</li>
    <li>вторая строка</li>
    <li>третья строка</li>
    <li>четвертая строка</li>
    <li>пятая строка</li>
</ol>


{% endblock content %}
</body>
</html>