{% extends "html/base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'catalog/css/first_page_style.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}
{% include "catalog/first_page.html" %}
{% include "catalog/second_page.html" %}
{% include "catalog/therd_page.html" %}
{% include "catalog/4th_page.html" %}
{% include "catalog/5th_page.html" %}
{% include "catalog/6th_page.html" %}
{% include "catalog/7th_page.html" %}
{% include "catalog/8th_page.html" %}
{% include "catalog/9th_page.html" %}
{% include "catalog/10th_page.html" %}
{% include "catalog/11th_page.html" %}



{% endblock content %}
</body>
</html>