{% extends "html/base.html" %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{img}}{% endblock title %}</title>
    <link href="{% static 'catalog/css/photo_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="photo_page">
<!--    {% comment %}-->
<!--    Это первый более простой вариант решения в котором получаем коллекцию photos обращаясь к модели Photos-->
<!--    и выбираем из неё один объект QuerySet в котором поле obect соответсвует полю p9_title модели Nine_page-->
<!--    и поле pk соответсвует параметру pk пришедшему из запроса (т.е. порядковому номеру фото на которое нажали)-->
<!--    Минусы данного варианта - нет проверки фото по объектам. Т.е. в первом объекте 14 фото, когда долистываем-->
<!--    до 15-го возникает ошибка пути - 15-е фото есть, но оно уже находится по пути другого объекта.-->
<!--    {% endcomment %}--> <!--   -->
    {% for i in photos %} <!-- перебираем объект photos чтобы получить доступ к каждому его элементу -->
        {% if i.pk > first_photo.pk %} <!-- провека если номер элемента больше чем номер первого элемента фото определенного объекта - то выводим стрелку со сслыкой на предыдущее фото -->
            <a class="photo_page_a_left" href="{%url 'photos' i.obect l %}"> ← </a> <!-- здесь выводится сстрелка влево которая ведет на предыдущую фотку -->
        {% else %}
            <!-- если номер элемента совпадает с номером первого элемента - то он и так первый и стрелка не выводится -->
        {% endif %}
        <a href="{% url 'object' i.obect %}"><h3>{{i.obect}}</h3></a> <!-- тут выводится наименование объекта фото которого представлены, само наименование является ссылкой на портфолио объекта -->
        <img src="{% static i.photo %}"> <!-- тут выводится фото выбранного объекта -->
        {% if i.pk < last_photo.pk %} <!-- тут происходит провекрка на последнее фото в перечне фото объекта -->
        <!-- если номер элемента меньше номера последнего фото в списке фото данного объекта - то фото не
         последнее и выводится стрелка вправо, ведущяа на следующее фото-->
            <a class="photo_page_a_right" href="{%url 'photos' i.obect r %}"> →  </a>
        {% else %}
            <!-- если номер элемента не меньше номера элемента с последним фото для объекта - то дальше вести некуда и стрелка со ссылкой не выводятся  -->
        {% endif %}
    {% endfor %}

{% comment %} <!-- второй вариант вывода тех же фото, но через переменную img, добытую более сложным
 путем -->
<!--    {% for n in img %}-->
<!--        <img src="{% static n.photo %}">-->
<!--    {% endfor %}-->
{% endcomment %}
</div>
</body>
</html>
{% endblock content %}