<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'catalog/css/therd_page_style.css' %}" rel="stylesheet">
</head>
<body>
<div class="part3">
    <img src="{% static 'catalog/img/p3_img.jpg' %}" alt="Тут должно быть фото ремонта">
    <div class="part3_1">
        <h1>В результате желание иметь квартиру мечты превращается в ад </h1>
        <ul>
            <li> Заказчик постоянно контролирует бригаду, затрачивая коллосальное количество времени, сил, нервов</li>
            <li> Желанный заезд в "Квартиру мечты" сдвигается месяц за месяцем</li>
            <li> Бюджет уже вылетел в трубу </li>
        </ul>
            <div class="part3_2">
                <h2>В этом случае единственным желанием остается уже <span style="color:#CBA782" >ХОТЬ КАК-ТО</span> закончить процесс и забыть
                обо всем - как страшный сон. Увидев всякого за 10 лет опыта, мы подходим к процессу так…</h2>
            </div>
    </div>
</div>


</body>
</html>