/*  */
/* файл со стилями для страницы base.html */

/* стилизация абсолютно всех элементов! */
* { /* обнуление отступов как внутренних так и наружных для асолютно всех элементов */
    margin:0px;
    padding:0px;
}

/* стилизация навигационной панели */
nav {
    background: #21201E; /* задали цвет фона */
    color: white; /* задали цвет текста */
    width: 100%; /* задали ширину */
    position: fixed; /* задали положение - фиксированное */
    top: 0; /* задали значение для верхнего края навигационной панели */
    right:0; /* задали положение правого края навигационной панели  */
    height: auto; /* задали высоту панели как автоматическое - автоматически вычисляется на основании содержимого панели */
    z-index:10; /* z-index определяет на сколько слоев ввехр смотрит элемент. Навигационная панель будет перекрывать 9 слоёв */
}

/* стилизация ссылак, находящизся в навигационной панели */
nav a {
    color: white; /* задали цвет для ссылок как белый, чтобы они не подсвечивались голубым */
    padding: inherit; /* Задали внутренние отступы как унаследованые от родительского блока */
}

/* стилизация изображения, находящиигося в навигационной панели */
nav img {
    padding-left: 20px; /* задали внутренний отступ слева */
}

/* стилизация блока кода с классом afternav */
.afternav {
    margin-top: 90px; /* задали наружный отступ снизу */
}

.Navigatpanel {
    padding: 35px 20px;
    display: inline;
    position: absolute;
    right: 0;
}

.Navigatpanel a {color:silver;}

footer {
    background: #21201E;
    color: white;
    padding:40px;
}

footer h2, h3 {
    padding: 10px 0px;
}

footer p {
    text-align: right;
}

.last_button {
    display:block;
    text-align: center;
    font-size:20px;
    text-decoration: none;
    color:white;
}